/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Triadic Color Scheme
		clock color: #5fdddd
	 focus color: #dd5Fdd
	 break color: #dddd5f
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*** END CSS RESET ***/

body {
	background-color: #000;
	color: #fff;
	min-width: 280px;
	text-align: center;
}

a:link, a:visited,
a:hover, a:active {
	color: #fff;
}

h1 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Bungee', cursive;
	font-size: 2.5em;
}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: .8em;
	letter-spacing: .5em;
}

h3 {
	text-transform: capitalize;
	font-family: 'Orbitron', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
	border: 1px solid #fff;
	border-radius: 50%;
	outline: 0;
	font-size: 1em;
	width: 30px;
	height: 30px;
	font-weight: bold;
	color: #fff;
	padding: 0;
}

span {
	color: #fff;
}

.time-selector {
	text-align: center;
	display: inline-block;
}

.control-dial-container-outer {
	margin-top: 15px;
}

.control-dial-container-inner {
	text-align: center;
}

.time-selector {
	margin-left: 20px;
	margin-right: 20px;
}

.indicator {
  width: 30px;
  display: inline-block;
  text-align: center;
	font-weight: bold;
	font-size: 1em;
}

.timer-id {
	margin-top: 40px;
	letter-spacing: .5em;
	font-weight: bold;
	font-size: 1.5em;
}

.outer-circle {
	width: 300px;
	height: 300px;
	position: relative;
	border-radius: 50%;
	left: 50%;
	transform: translateX(-50%);
	background-image: linear-gradient(90deg, transparent 50%, #dd5fdd 50%),
										linear-gradient(90deg, #dd5fdd 50%, transparent 50%);
}

.counter {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: #5fdddd;
	color: #000;
	font-family: 'Orbitron', sans-serif;
	font-size: 3em;
	text-align: center;
	line-height: 250px;
	position: absolute;
	cursor: default;

	/**
		* Center inner div using this formula
		* outerWidth - innerWidth / 2 = left
		*/
	left: 25px;
	top: 25px;
}

footer {
	margin-top: 20px;
	font-size: .8em;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}


/* Small screen Styles */
@media screen and (max-width: 400px) {
	h1 {
		font-size: 1.5em;
	}

	h2{
		font-size: .5em;
	}

	h3 {
		font-size: .75em;
	}

	.timer-id {
		font-size: .75em;
	}

	button {
		font-size: .8em;
	}
}
